body {
    box-sizing: border-box;
    font-family: 'PT Mono';
    padding: 0;
}

.container {
    margin: 10px auto;
    width: 400px;
}

h1 {
    color: $blue-dark;
    text-align: center;
}

.bar {
    color: darken($gray, 20);
    padding: 10px 0;
}

canvas {
    border-radius: 5px;
}

div {
    &[id='canvas-wrap'] {
        margin: 0 auto;
    }
}

footer {
    margin: 20px 0;
    text-align: center;
}
